.box {
  color: white;
  font-size: 100px;
  text-align: center;
  text-shadow: 4px 4px 0 rgb(0 0 0 / 10%);
  padding: 10px;
}

.box1 {
  background: #1abc9c;
}

.box2 {
  background: #3498db;
}

.box3 {
  background: #9b59b6;
}

.box4 {
  background: #34495e;
}

.box5 {
  background: #f1c40f;
}

.box6 {
  background: #e67e22;
}

.box7 {
  background: #e74c3c;
}

.box8 {
  background: #bdc3c7;
}

.box9 {
  background: #2ecc71;
}

.box10 {
  background: #16a085;
}

.container {
  display: flex;
  flex-flow: column wrap;
  border: 10px solid goldenrod;
  height: 100vh;
}

.box {
  flex-basis: 250px;
  flex-grow: 1;
}

.box3 {
  flex-grow: 5;
}

.box4 {
  flex-basis: 100px;
}
