a {
    color: purple;
}

.main {
    color: green;
}

.berries {
    list-style-type: square;
}

.veggies {
    list-style-type: disc;
}

ul ul ul {
    list-style: none;
}

.berries a {
    text-decoration: none;
}

.other {
    counter-reset: item;
}

.other > ul {
    list-style: none;
}

.other > ul > li::before {
    counter-increment: item;
    content: counter(item) ". ";
}