html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

a {
  color: white;
}

.cover {
  height: 100vh;
  width: 100%;
}

.dog {
  height: 100%;
  filter: blur(5px);
  position: absolute;
  top: 0;
  z-index: -1;
}

.flex-form > *:not([type='date']) {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.flex-form input[type='submit'] {
  background: #ff5a5f;
  border-top: 1px solid #ff5a5f;
  border-bottom: 1px solid #ff5a5f;
  color: white;
}

.flex-form {
  z-index: 10;
  position: relative;
}

.flex-form > * {
  border: 0;
  padding: 10px;
  background: white;
  line-height: 50px;
  font-size: 20px;
  border-radius: 0;
  outline: 0;
  border-right: 1px solid rgb(0 0 0 / 20%);
  appearance: none;
}

.flex-form > *:last-child {
  border-right: 0;
}

.cover {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-form {
  z-index: 10;
  position: relative;
  border: 20px solid rgb(0 0 0 / 30%);
  border-radius: 5px;
  display: flex;
}

input[type='search'] {
  flex-basis: 500px;
}
