label {
    color: white;
}

label,
button {
    font-size: 18px;
}

.form-container {
    background-image: url("img/form-bg.jpg");
    background-size: cover;
    border: 20px solid #868686;

    padding: 0 20px 20px 20px;
    width: 620px;
    min-height: 400px;
}

.form-container form h2 {
    color: blueviolet;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    margin: 20px;
}

.form-container form h2::first-letter {
    color: pink;
}

.form {
    width: 36%;
    margin-bottom: 12px;
}

.form label {
    display: block;
    margin-bottom: 4px;
}

.form:nth-of-type(odd) {
    float: left;
}

.form:nth-of-type(even) {
    float: right;
}

form hr {
    width: 80%;
    border-color: rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    height: 3px;
}

.fields-container::after {
    content: '';
    display: table;
    clear: both
}

.textarea {
    width: 100%;
    float: none;
}

.fields-container .textarea textarea {
    width: 100%;
    height: 40px;
    resize: none;
}

.btns {
    float: right;
    margin-top: 15px;
}

.form input,
.form textarea {
    width: 100%;
    height: 30px;

    font-size: 16px;
    font-weight: 700;
    text-indent: 20px;

    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border: none;
    border-radius: 8px;

    border-bottom: 4px solid transparent;
}

input[type='text']:hover,
input[type='email']:hover {
    border-bottom-color: #fbff00;
}

input[type='text']:focus,
input[type='email']:focus {
    border-bottom-color: #ffa600;
}

input[type='password']:hover {
    border-bottom-color: #1eff00;
}

input[type='password']:focus {
    border-bottom-color: #00ffea;
}

.textarea textarea:hover {
    box-shadow: 0 0 10px 10px rgba(20, 186, 223, 0.6);
}

.btns button {
    border: 3px solid;
    width: 130px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.btns button[type='reset'] {
    border-color: orange;
    margin-right: 10px;
}

.btns button[type='reset']:hover {
    border: 3px solid #e64a19;
    color: white;
    background-color: #e64a19;
    border-radius: 15px;
}

.btns button[type='reset']:active {
    border: 3px solid #ecfd00;
    background-color: #a02904;
    border-radius: 25px;
    position: relative;
}

.btns button[type='submit'] {
    border-color: green;
}

.btns button[type='submit']:hover {
    border: 3px solid #0097a7;
    color: white;
    background-color: #0097a7;
    border-radius: 15px;
}

.btns button[type='submit']:active {
    border: 3px solid #ecfd00;
    background-color: #014950;
    border-radius: 25px;
}